<div class="user-stat-box">
  {{! <i class="bi bi-people"></i> }}
  <span>{{totalUser}} </span>
  <p>Foydalanuvchilar</p>
  <small>hamma vaqt</small>
</div>

<div class="user-stat-box">
  {{! <i class="bi bi-people"></i> }}
  <span>{{totalUser}} </span>
  <p>Yangi foydalanuvchilar</p>
  <small>bugun</small>
</div>