<aside>
  <div class="logo-area">
    <img src="img/dimashop.png" alt="" class="logo" />
  </div>
  <nav>
    <p>NAVIGATION</p>
    <ul class="menu">
      <li class="menu-item">
        <a href="/dashboard">
          <span> <i class="bi bi-speedometer2"></i><s> Dashboard </s></span>
          <i class="bi bi-arrow-right-short"></i>
        </a>
      </li>
      <li class="menu-item">
        <a href="/users_admin">
          <span> <i class="bi bi-people"></i> Foydalanuvchilar</span>
          <i class="bi bi-arrow-right-short"></i>
        </a>
      </li>
      <li class="menu-item">
        <a href="/products_admin">
          <span> <i class="bi bi-box-seam"></i> Mahsulotlar</span>
          <i class="bi bi-arrow-right-short"></i>
        </a>
      </li>
    </ul>
  </nav>
</aside>