<aside>

  <nav>
    <ul class="menu">
      <li class="menu-item">
        <a href="/dashboard">
          <i class="bi bi-speedometer2"></i>
          <span> Dashboard </span>
        </a>
        {{! <i class="bi bi-arrow-right-short"></i> }}
      </li>
      <li class="menu-item">
        <a href="/products_list_admin">
          <i class="bi bi-box-seam"></i>
          <span> Products</span>
        </a>
        <i class="bi bi-arrow-right-short"></i>
      </li>
      <li class="menu-item">
        <ul>
          <a href="/products_list_admin"><li>Product list</li></a>
          <a href="/add"><li>Add products</li></a>
          <li>Categories</li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="/users_admin">
          <i class="bi bi-people"></i>
          <span> Users</span>
        </a>
        {{! <i class="bi bi-arrow-right-short"></i> }}
      </li>
      <li class="menu-item">
        <a href="/dashboard">
          <i class="bi bi-credit-card-2-back"></i>
          <span> Transactions</span>
        </a>
        <i class="bi bi-arrow-right-short"></i>
      </li>
      <hr style="margin: 0" />
      <li class="menu-item">
        <a href="/dashboard">
          <i class="bi bi-gear"></i>
          <span> Settings </span>
        </a>
      </li>
    </ul>
  </nav>

</aside>