<aside>
  <div>
    <a href="/">
      <img src="img/dimashop.png" alt="" class="logo" />
    </a>
  </div>
  <nav>
    <ul class="menu">
        <li class='menu-item'>
          <i class="bi bi-display"></i>
          <a class=" text-dark text-decoration-none" href="./products">Monitor</a>
          </li>
        <li class='menu-item'>
          <i class="bi bi-gpu-card"></i>
          <a class=" text-dark text-decoration-none" href="./products">Videokarta</a>
          </li>
        <li class='menu-item'>
          <i class="bi bi-memory"></i>
          <a class=" text-dark text-decoration-none" href="./products">Tezkor xotira</a>
          </li>
        <li class='menu-item'>
          <i class="bi bi-hdd"></i>
          <a class=" text-dark text-decoration-none" href="./products">Doimiy xotira</a>
          </li>
        <li class='menu-item'>
          <i class="bi bi-plug"></i>
          <a class=" text-dark text-decoration-none" href="./products">Blok pitaniya</a>
          </li>
        <li class='menu-item'>
          <i class="bi bi-keyboard"></i>
          <a class=" text-dark text-decoration-none" href="./products">klaviatura</a>
          </li>
        <li class='menu-item'>
          <i class="bi bi-motherboard"></i>
          <a class=" text-dark text-decoration-none" href="./products">Plata</a>
          </li>
    </ul>
  </nav>
  <div class="recommend">

  </div>
</aside>