<html lang="en">
    {{!-- head --}}
{{> head}}
  {{!-- navbar --}}
  {{> navbar}}
  <body>
     {{!-- body --}}
     <div class="container">
        {{{body}}}
    </div>
     {{!-- footer --}}
    {{> footer}}
  </body>
</html>