<div class="main-wrapper">

  <div class="content-head">

    <div class="slider">
      <div class="slider-img-area">
        <img src="img/naushnik.png" alt="" class="slider-img" />
      </div>
      <div class="head-text">
        <h4>Boots Studio3 Wireless Headphone</h4>
        <small> * * * * * (2000+ )</small>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, fuga
          consequuntur
        </p>
        <h3>Price $155.95</h3>
        <div class="head-text-colors">
          Colors:
          <span
            style="background-color: crimson; width:16px; height:16px; border-radius:50%; display:inline-block"
          ></span>
          <span
            style="background-color: rgb(20, 143, 220); width:16px; height:16px; border-radius:50%; display:inline-block"
          ></span>
          <span
            style="background-color: rgb(20, 220, 140); width:16px; height:16px; border-radius:50%; display:inline-block"
          ></span>
        </div>
        <div class="slider-btns">
          <button class="tanlangan">
            <i class="bi bi-heart-fill"></i>
          </button>
          <button class="add-to-cart tanlangan">
              Savatchaga qo'shish 
          </button>
          <button class="buy-now tanlangan">
            Hozir sotib olish
          </button>
        </div>
      </div>

    </div>
    <div class="discount">
      discount
    </div>
  </div>

</div>
<div class="main-content">
  <div class="products">

    <div class="product">
      <div class="product-img-area">
        <img src="img/naushnik.png" alt="" class="product-img" />
      </div>
      <div class="product-text">
        <h5 class="product-th">Orginal Beats Pro</h5>
        <small class="product-price">Price: $12,99</small>
      </div>
      <div class="product-footer">
        <div class="product-rating">
          <i class="bi bi-star-fill"></i>
          <span>4.9</span>
        </div>
        <div class="addProduct-btn">
          +
        </div>
      </div>
    </div>

    <div class="product">
      <div class="product-img-area">
        <img src="img/naushnik.png" alt="" class="product-img" />
      </div>
      <div class="product-text">
        <h5 class="product-th">Orginal Beats Pro</h5>
        <small class="product-price">Price: $12,99</small>
      </div>
      <div class="product-footer">
        <div class="product-rating">
          <i class="bi bi-star-fill"></i>
          <span>4.9</span>
        </div>
        <div class="addProduct-btn">
          +
        </div>
      </div>
    </div>

    <div class="product">
      <div class="product-img-area">
        <img src="img/naushnik.png" alt="" class="product-img" />
      </div>
      <div class="product-text">
        <h5 class="product-th">Orginal Beats Pro</h5>
        <small class="product-price">Price: $12,99</small>
      </div>
      <div class="product-footer">
        <div class="product-rating">
          <i class="bi bi-star-fill"></i>
          <span>4.9</span>
        </div>
        <div class="addProduct-btn">
          +
        </div>
      </div>
    </div>

    <div class="product">
      <div class="product-img-area">
        <img src="img/naushnik.png" alt="" class="product-img" />
      </div>
      <div class="product-text">
        <h5 class="product-th">Orginal Beats Pro</h5>
        <small class="product-price">Price: $12,99</small>
      </div>
      <div class="product-footer">
        <div class="product-rating">
          <i class="bi bi-star-fill"></i>
          <span>4.9</span>
        </div>
        <div class="addProduct-btn">
          +
        </div>
      </div>
    </div>

  </div>
</div>