<div class="w-75 mx-auto">
  <p class="fs-1">Register</p>
  <form action="./register" method="post">

    <div class="d-flex gap-3">
      <div class="form-floating mb-3 w-50">
        <input
          name="firstname"
          type="text"
          class="form-control"
          id="firstname"
          placeholder="firstname"
        />
        <label for="floatingInput">First Name</label>
      </div>
      <div class="form-floating mb-3 w-50">
        <input
          name="lastname"
          type="text"
          class="form-control"
          id="lastname"
          placeholder="lastname"
        />
        <label for="floatingInput">Last Name</label>
      </div>
    </div>
    <div class="form-floating mb-3">
      <input
        name="email"
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        name="password"
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary mt-3">Register</button>

  </form>
</div>